@import "./fonts/fonts.css";
@import "./header.css";
@import "./navbar.css";
@import "./about.css";
@import "./career.css";
@import "./skills.css";
@import "./footer.css";

html {
    font-size: 1vw;
}

body {
    font-family: 'Titillium';
    background-color: rgb(255 176 222);
    margin: 0px;
}

@media (max-width:270px) {
    footer,
    main {
        line-break: anywhere;
    }
}

@media (max-width:350px){
    main .career .cv-entry {
        font-size: 0.7em;
    }

    main .career .cv-entry .horizontal-line {
        border-bottom: 2px dotted white;
    }
    
    main .career .cv-entry.future .horizontal-line {
        border-bottom: 2px dotted lightgrey;
    }
}

@media only screen and (max-width:500px) and (orientation: portrait) {
    footer,
    main {
        font-size: 2em;
    }

    main .about .hello {
        flex-direction: column;
    }

    html {
        font-size: 2vw;
    }

    header .navbar {
        font-size: 2em;
    }
}


@media only screen and (min-width:500px) {
    footer,
    main {
        font-size: 1.8em;
    }
}

@media only screen and (max-width:1000px) {
    html {
        font-size: 1.5vw;
    }
}

@media only screen and (min-width:1000px) {
    footer,
    main {
        font-size: 1.5em;
    }
}


@media only screen and (min-width: 4000px) {
    footer,
    main {
        font-size: 1.8em;
    }
}